<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 8 - Transiciones</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header id="home">
        <img src="https://play-lh.googleusercontent.com/Vf0FVgoh-7jATLv-vKvJQrugcekXm9NVHYPNtZq9unurHcxZ2cosF4imos7BIwKjTozq=w240-h480-rw" alt="logo">
        <ul class="links">
            <li><a href="">Enlace</a></li>
            <li><a href="">Enlace</a></li>
        </ul>
    </header>
    <main>

        <section class="box-container">
            <div class="box1">Caja 1</div>
            <div class="box2">Caja 2</div>
        </section>

        <section>
            <h2>Nuevas Canciones</h2>
            <form action="">
                <input type="text" name="artist" placeholder="Artista">
                <input type="text" name="song"placeholder="Cancion">
                <label for="music-file">Ingresa el archivo de musica</label>
                <input type="file" id="music-file" name="music-file">
                <button class="btn" type="submit">Cargar</button>
            </form>
        </section>
    </main>
    <a class="gotohome" href="#home">⬆️</a>
    <footer>
        Derechos reservados
    </footer>
</body>
</html>