<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Clase 6</title>
</head>
<body>
    <header>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" alt="logo">
        <ul class="links">
            <li><a href="https://youtube.com.ar">Registrarse</a></li>
            <li><a href="https://youtube.com.ar">Registrarse</a></li>
            <li><a href="https://youtube.com.ar">Registrarse</a></li>
        </ul>
        <div class="menu-burger">
            <i class="fa-solid fa-bars"></i>
        </div>

        
    </header>
    <main>
        <section class="container">
            <h4>Cajas</h4>
        <article class="box">Caja 1</article>
        <article class="box">Caja 2 </article>
        <article class="box">Caja 3</article>
        </section>
        <section class="container">
            <h4>Parrafos</h4>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloribus explicabo architecto, nam quaerat corrupti debitis, officia odit obcaecati impedit libero, harum doloremque laudantium dolor ipsa distinctio quasi ab non.
            </p>
    </section>
    </main>
    <footer>
        Todos los derechos reservados
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" alt="logo">
    </footer>
</body>
</html>