<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro FullStack Express + MySQL + React</title>
    <!-- Links CSS -->
    <link rel="stylesheet" href="../styles/general-styles.css">
    <link rel="stylesheet" href="../styles/todo-list.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap"
        rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <img width="200" src="../images/logo.png" alt="logo-html" />
        <ul class="links">
            <li>
                <a href="/">Home <i class="fa-solid fa-house"></i></a>
            </li>
            <li>
                <a href="/registro">Registro <i class="fa-solid fa-user-plus"></i></a>
            </li>
        </ul>
    </header>
    <main>
        <section>
            <h1>Lista de Pendientes</h1>
            <ul>
                <li>Tarea 1</li>
                <li>Tarea 2</li>
                <li>Tarea 3</li>
                <li>Tarea 4</li>
                <li>Tarea 5</li>
            </ul>
        </section>

        <section>
            <p class="destacado">
                Destacado ipsum dolor sit amet, consectetur adipisicing elit. Nihil sunt similique tempore, eligendi
                magnam
                quaerat repudiandae expedita quia id aliquid! Nulla numquam aliquid vitae dignissimos fugit consectetur
                unde
                modi dolorum.
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sint illo animi a excepturi quos
                quod
                corrupti cum laudantium natus reiciendis, aut eius facere odit cumque quaerat deserunt quas itaque!
            </p>
            <p class="destacado">
                Destacado ipsum dolor sit amet, consectetur adipisicing elit. Nihil sunt similique tempore, eligendi
                magnam
                quaerat repudiandae expedita quia id aliquid! Nulla numquam aliquid vitae dignissimos fugit consectetur
                unde
                modi dolorum.
            </p>
        </section>

    </main>
    <footer id="foot">
        <h2>Derechos reservados a Youtube &copy</h2>
    </footer>
</body>

</html>